includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/mrpunyapal/peststan/extension.neon

parameters:
    level: 10
    paths:
        - app
        - routes
        - database
        - resources
        - tests

    ignoreErrors:
        # ignores Mockery andReturn() method warning, that is valid in tests.
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::andReturn\(\)#'
 
    reportUnmatchedIgnoredErrors: false

    treatPhpDocTypesAsCertain: true