includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/mrpunyapal/peststan/extension.neon

parameters:
    level: 10
    paths:
        - app
        - routes
        - database
        - resources
        - tests

    ignoreErrors:
 
    reportUnmatchedIgnoredErrors: false

    treatPhpDocTypesAsCertain: true